@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #FCFAE2; }

a {
  color: #e5bc29;
  text-decoration: none; }

.header a {
  text-decoration: none;
  color: #fff; }
  .header a:hover {
    text-decoration: underline; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.container-fluid {
  width: 100%;
  margin: 0 auto; }

.row:after, .row:before {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 20px;
  margin: 0; }

.no-padding {
  padding: 0; }

/*desctop */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-visit-20 {
  float: left;
  max-height: 300px;
  padding: 0;
  width: 20%; }

.col-visit-40 {
  float: left;
  max-height: 300px;
  padding: 0;
  width: 40%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

/*navbar */
.header {
  background-color: #313234;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #fff; }

nav ul {
  margin: 0;
  padding: 0; }
  nav ul li {
    height: 59px;
    line-height: 59px;
    text-align: center;
    width: 200px;
    list-style-type: none;
    color: #fff;
    background-color: rgba(49, 50, 52, 0.5);
    transition-duration: 2s; }

.list-nav li {
  text-transform: lowercase;
  height: 39px;
  line-height: 39px; }

.menu-nav {
  float: right;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px; }

nav ul ul {
  display: none;
  position: absolute; }

nav ul li:hover {
  background-color: #e5bc29; }

nav li:hover ul {
  display: block; }

/*logo */
.logo {
  display: inline-block;
  font-size: 90px;
  color: #fff;
  margin-left: 20px; }

.logo .fa:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.logo .fa:hover:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5bc29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/*problem with browsers-mozzilla ie */
/*.logo
 * .fa 
 * 	font-size: 90px
 * 	+transition(2.0s)
 * 	background-image: linear-gradient(360deg, $color-first, 50%, transparent 50%)
 * 	background-position: 100% 0%
 * 	background-size: 200%
 * 	padding-right: 10px
 * 	padding-top: 10px
 * 	border-radius: 20%
 * 	color: $color-second */
/*.logo
 * .fa
 * 	&:hover 
 * 		background-position: 0% 100%
 * 		+transition(2.0s) */
.hero {
  background: url("../img/hero.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center; }

.slogan {
  background-color: rgba(49, 50, 52, 0.5);
  float: right;
  margin-top: 30vh;
  position: absolute;
  right: 0;
  display: none; }

.slogan h3, .slogan h1 {
  color: #fff;
  letter-spacing: 3px;
  padding-right: 20px; }

.slogan h3 {
  background-color: #e5bc29; }

.fa-chevron-down {
  font-size: 60px;
  color: #FFFFFF;
  margin-top: 60vh;
  cursor: pointer; }

.offer {
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 65px; }

.offer .fa {
  font-size: 80px;
  background-color: #000;
  color: #fff;
  border-radius: 20%;
  padding: 10px;
  transition-duration: 2s; }

.offer .fa:hover {
  background-color: #e5bc29;
  -webkit-animation: tada 1s;
  animation: tada 1s; }

.art-beer p:nth-child(2) {
  text-align: left; }

.offer-bear-animation p {
  opacity: 0; }

.visit-title {
  padding-top: 65px;
  text-align: center; }

.visit-title h1 {
  padding-bottom: 60px;
  color: #e5bc29;
  text-shadow: 1px 1px #000;
  letter-spacing: 3px; }

.visit-title h2 {
  padding-bottom: 40px; }

.visit-gallery {
  margin-top: 65px; }

.gallery {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.layer {
  width: 100%;
  height: 100%;
  text-align: center;
  color: transparent;
  background-color: transparent;
  -webkit-transition: 2s;
  transition: 2s;
  line-height: 300px; }

[class^="col-visit-"]:hover .layer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer; }

.visit-gallery .fa {
  font-size: 35px; }

.pic4 {
  background-image: url("../img/pic4.jpg"); }

.pic2 {
  background-image: url("../img/pic2.jpg"); }

.pic8 {
  background-image: url("../img/pic8.jpg"); }

.pic1 {
  background-image: url("../img/pic1.jpg"); }

.pic5 {
  background-image: url("../img/pic3.jpg"); }

.pic6 {
  background-image: url("../img/pic6.jpg"); }

.pic10 {
  background-image: url("../img/pic7.jpg"); }

.pic3 {
  background-image: url("../img/pic5.jpg"); }

.staff {
  padding-top: 65px;
  padding-bottom: 65px; }

.person {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition-duration: 2s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center; }

.stf1 {
  background-image: url("../img/staff1.jpg"); }

.stf2 {
  background-image: url("../img/staff2.jpg"); }

.stf3 {
  background-image: url("../img/staff3.jpg"); }

.stf4 {
  background-image: url("../img/staff4.jpg"); }

.staff .layer-pr {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  line-height: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }

.person:hover .layer-pr {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s; }

.topic {
  margin-top: 65px;
  position: relative;
  background-attachment: fixed; }

.topic-img {
  width: 250px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 60px; }

.n1 {
  background-image: url("../img/n1.jpg"); }

article {
  color: #000;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.2); }

article .col-8 {
  background-color: transparent; }

article .col-4 {
  background-color: transparent; }

.numbers {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 65px;
  background-color: #F5F5F5; }

.numbers h3 {
  color: #e5bc29;
  text-shadow: 1px 1px #000;
  font-size: 40px; }

footer {
  background-color: #313234;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0; }

footer h2 {
  position: relative;
  color: #e5bc29; }

footer h2:after {
  content: "";
  position: absolute;
  background-color: #e5bc29;
  height: 2px;
  width: 50%;
  top: 50%;
  margin-left: 5px; }

.social-media .icon-btn {
  font-size: 25px;
  padding: 5px; }

.social-media .icon-btn:hover {
  color: #e5bc29;
  transform: scale(1.2); }

.copyright {
  background-color: #252726;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1; }

.cookies {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2; }

.cookies p {
  background-color: rgba(37, 39, 38, 0.8);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 60px; }

.cookies button {
  background-color: #e5bc29;
  border: none;
  padding: 10px; }

.arrow-footer {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #000;
  font-size: 30px;
  border: 1px solid #000;
  transform: rotate(270deg);
  background-color: #e5bc29;
  cursor: pointer;
  padding: 15px;
  z-index: 3; }

@media(min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .col-visit-m-20 {
    width: 40%;
    float: left;
    max-height: 300px;
    padding: 0; }

  .col-visit-m-40 {
    width: 60%;
    float: left;
    max-height: 300px;
    padding: 0; }

  .topic-img {
    left: 10px; }

  .person {
    width: 200px;
    height: 200px; }

  .staff .layer-pr {
    line-height: 200px; } }
@media(max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s- {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  .col-visit-s-20 {
    width: 100%;
    float: left;
    max-height: 300px;
    padding: 0; }

  .col-visit-s-40 {
    width: 100%;
    float: left;
    max-height: 300px;
    padding: 0; }

  .list-nav li {
    text-transform: lowercase;
    height: 60px;
    border-top: 1px solid white;
    z-index: 2;
    position: relative;
    background-color: #313234; }

  .logo {
    margin-left: 4px;
    font-size: 80px; }

  .slogan {
    margin-top: 40vh;
    z-index: 1;
    position: relative;
    width: 100%; }

  .fa-chevron-down {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10vh; }

  .person {
    width: 200px;
    height: 200px; }

  .staff .layer-pr {
    line-height: 200px; }

  .topic {
    padding: 30px;
    margin: 0 auto; }

  .topic-img {
    position: relative;
    display: block; }

  .topic article {
    margin-left: 0; }

  .social-media {
    text-align: center; }

  .person .layer-pr {
    color: #fff;
    cursor: pointer; }

  [class^="col-visit-"] .layer {
    color: #fff;
    cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
